* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9e9e9;
    text-align: center;
}

/* Header */
.header {
    background-color: #4CAF50;
    color: white;
    padding: 40px;
}

/* Contenido */
.contenido {
    padding: 30px;
}

.contenido h2 {
    margin-bottom: 10px;
}

/* Imágenes */
.imagenes {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.imagenes img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

/* Footer */
.footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #333;
    color: white;
}
